<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/19b95bb8-1c19-4e30-bb11-f9e362579713/resourcegroups/WebAPI-CRUDOperations20240515040644ResourceGroup/providers/Microsoft.Web/sites/WebAPI-CRUDOperations20240515040644</ResourceId>
    <ResourceGroup>WebAPI-CRUDOperations20240515040644ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/19b95bb8-1c19-4e30-bb11-f9e362579713/resourceGroups/WebAPI-CRUDOperations20240515040644ResourceGroup/providers/Microsoft.ApiManagement/service/WebAPI-CRUDOperations/apis/WebAPI-CRUDOperations</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://webapi-crudoperations20240515040644.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>5624ec6e-20ce-4968-af83-b51f89fada37</ProjectGuid>
    <MSDeployServiceURL>webapi-crudoperations20240515040644.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebAPI-CRUDOperations20240515040644</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$WebAPI-CRUDOperations20240515040644</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>